<script type="text/html" id="newTasksTmpl">
<div id="newTasksWrapper" class="container col-m-9 col-8 col-l-6">
	<div id="newTasksHeader"></div>
	<div id="newTasksBody"></div>
	</br>
	</br>
	<div id="newTasksFooter">
		<div id="newTaskCreate" class="button border rounded" >New Task</div>
		<div id="newTaskComplete" class="button border rounded">Complete</div>
	</div>
</div>
</script>
<script type="text/html" id="newTaskTmpl">
<div id="<%= id %>"  class="newTasks border bg">
	<p class="taskTitle "><%= title %></p>
	<p class="taskDescription "><%= description %></p>
</div>
</script>